body {
    background-image: url('/marisol-img/art.jpg');
    background-repeat: repeat;
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    height: 100vh;

}

.container h1 {
    font-size: 150px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: colorChange 5s infinite;
}

@keyframes colorChange {
    0% {
        color: #ffeb96;
    }
    30% {
        color: #73b8e6;
    }
    60% {
        color: #fffcee;
    }
    75% {
        color: #0b2f5a;
    }
    100% {
        color: #ffeb96;
    }
}

.button {
    font-family: "Allison", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: #ffeb96;
    border: none;
    color: black;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;    
    border-radius: 10px;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {

    #bem-vinda-img {
      width: 70%;
    }

    .container h1 {
        font-size: 85px;
    }
  }
